@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-funnel-sans);
  --font-family-sans-funnel: var(--font-funnel-sans);
  --font-mono: var(--font-geist-mono);
  --font-family-electrolize: var(--font-electrolize);
}

/* color palette */
@theme {
  --color-black: #313638; 
  --color-primary: #ffe94e;
  --color-secondary: #e9eaec;
  --color-tertiary: #fff75e;
  --color-white: #fffae5
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


